<head>
  <title>Contact</title>
  <link rel="stylesheet" href="about_me_sinatra.css" type="text/css"></link>
</head>
<body>
  <div>
  <img src="postcard.jpg" id="contact-picture"></img>
    <div class="input-label center">
      <h1>Contact Me</h1>
      <br />
      <form action="" method="POST">
        <label>Name
          <input type="text" name="name" placeholder="Name" class="input-text" /><br>
        </label><br>
        <label>Email
          <input type="text" name="sender_email" placeholder="your_email@email.com" class="input-text" /><br>
        </label><br>
        <label>Message
          <input type="textarea" name="message" placeholder="Your message here" class="input-textarea"/><br>
        </label><br>
        <input type="submit" class="align-button" />

      </form>
    </div>
  </div>
  <div class="footer center">
    <hr />
    <a href="/">Home</a>
    <a href="/resume">Resume</a>
  </div>
</body>
