<head>
  <title>Home</title>
  <link rel="stylesheet" href="about_me_sinatra.css" type="text/css"></link>
</head>
<body class="center lav-bg">
  <div>
    <img src="amy.jpg" alt="Amy" id="profile-picture"></img>
  </div>
  <div>
    <h1>Amy Eisenmenger</h1>
    <h3>Something Awesome About Me</h3>
    <h4>About Me</h4>
  </div>
  <div class="center footer">
    <hr />
    <a href="/contact">Contact</a>
    <a href="/resume">Resume</a>
  </div>
</body>
