<head>
  <title>Resume</title>
  <link rel="stylesheet" href="about_me_sinatra.css" type="text/css"></link>
</head>
<body class="center">
  <div>
    <h1>Amy Eisenmenger</h1>
    <div>
      <div class="left">
        <h3>Skills</h3>
          <ul>
            <li>Ruby</li>
            <li>Git</li>
            <li>HTML/CSS</li>
            <li>Sinatra</li>
            <li>Python</li>
          </ul>
      </div>
      <div class="right">
        <h3>Education</h3>
          <ul>
            <li>Devpoint Labs</li>
            <li>Bard College</li>
            <li>Montanta State University</li>
          </ul>
      </div>
    </div>
    <div class="clear-left">
    </div>
    <div>
      <div class="left">
        <h3>Experience</h3>
          <ul>
            <li>Ruby</li>
            <li>Git</li>
            <li>HTML/CSS</li>
            <li>Sinatra</li>
            <li>Python</li>
          </ul>
      </div>
      <div class="right">
        <h3>Portfolio</h3>
        <a href="https://github.com/amyeisenmenger/">GitHub</a><br>
        <a href="">LinkedIn</a>
     </div>
    </div>
  </div>
  <div class="center footer">
    <hr />
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
  </div>
</body>
